body {
    background-color: rgb(69, 69, 69);
}
.textdump {
    font-family: monospace;
    font-size: 14px;
    line-height: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: auto;
    margin-left: 5%;
    margin-right: 10%;
}
.contentline {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    line-height: 1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: auto;
    color: whitesmoke;
    margin-left: 5%;
    margin-right: 10%;
}
.h {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 70%;
    color: whitesmoke;
    margin-top: 3%;
    margin-left: 5%;
}
#Title {
    font-family: "Arial";
    font-size: 50px;
    color: #ffffff;
    border: #ffffff 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    align-self: left;
}
#Menu {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}
#LogoImg {
    width: 45%;
    height: 50%;
    padding: 1%;
    margin-top: 0.5%;
    display: inline-block;
}
#MasterRow {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    display: inline-block;
    border: #ffffff 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.MenuButton {
    font-family: "Arial";
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(69, 69, 69);
    outline: none;
    border: rgb(69, 69, 69) 0px solid;
    align-self: left;
}
.MenuButton:hover {
    background-color: rgb(100, 100, 100);
}
#LogoFrame {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    display: inline-block;
    border: #ffffff 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#Series {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: rgb(69, 69, 69);
    margin-top: 1%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 6%;
    float: left;
    width: 45%;
    border: #ffffff 2px solid;
    font-size: 3vw;
    display: inline
}